nav {
  font-size: 2.4rem;
  text-align: right;
  padding: 3rem 0;

  a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 1rem;
  }

  a + a {
    margin-left: 2rem;
  }

  a::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    bottom: 0;
    left: 0;
  }

  a:hover::before {
    height: 90%;
    width: 97%;
    border: 4px solid $accent;
    border-top: none;
    border-right: none;
    transition: height 0.5s linear, width 0.5s linear;
  }
}
